.fb-login {
  background: #3b599a !important;
  display: inline-flex;
  align-items: center;

  color: white !important;
  height: 45px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px !important;
  border-radius: 2px !important;
  border: 1px solid transparent !important;
  font-size: 14px !important;
  font-family: Roboto, sans-serif !important;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-top : 5px;
};




.background-image{
  background-image: url(../Images/bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
//   position: relative;
  width: 100%;
  height: 100% !important;
}

.card-login{
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: white;
    width: 30%;
    margin-left: 33.33333%;
    margin-top: 20%;
    border-color: rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    
    box-shadow: 1px 1px 3px #888888;
}
